<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis .org//DTD Mapper 3.0//EN" "http://mybatis. org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suren.dao.PutNoteDao">
    <insert id="putNote" parameterType="com.suren.entities.Note" useGeneratedKeys="true" keyProperty="noteid">
        update note set notecontent = #{notecontent} where noteid = #{noteid}
    </insert>
</mapper>